<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  
   <p>
    Splurty was built by <a target="_blank" href="https://sarahmaecrank.netlify.com">Sarah Mae Crank</a>. Sarah is an aspiring web developer who spent her childhood roaming the plains and mountains of Wyoming. Knowing that there is no place like it, she decided to make a splurty to share its wonders.
  </p>

  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
  
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'sarah.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Sarah Mae Crank</h2>
      <br />
      <p>
        Sarah Crank is a Project Lead in the Creative Services department at Feld Entertainment, Inc. in Palmetto, FL. She facilitates the ideation, creation, and distribution of marketing materials for all Marvel Universe LIVE! shows domestically and internationally. Currently, she is in the process of completing the Coding Boot Camp through the University of Central Florida in hopes of becoming more marketable in the job search process.
      </p>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
